*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    color: red;
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2rem;
    text-shadow: 3px 3px 4px gray;
}
#all {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
}

#container {
    display: flex;
    font-family: Helvetica;
    font-weight: 750;
}

#score {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    min-width: 180px;
    max-height: 100px;
    background-color: #FFFFFF;
    margin: 30px;
    border-radius: 50px;
}
#score > span{
    font-size: 60px;
    margin-top: 20px;
}
#score_X {
    color: #2C8DFF;
}
#score_O {
    color: #FF4F4F;
}

#goals{
    display: grid;
    grid-template-columns: auto;
    width: 150px;
    height: 370px;
    gap: 50px;
    margin-top: 220px;

}

#goals > div {
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

text{
    font-size: 80px;
}

svg {
    margin: 24px;
}

#board {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #FFE79E;
    width: 470px;
    height: 470px;
    padding: 15px;
    margin: 150px 0px 0px 50px;
}
#board > div {
    background-color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

#controls{
    display: grid;
    margin: 30px 100px 0px 180px;
    row-gap: 30px;
    height: 130px;
}

button{
    background-color: #f7e4ac;
    width: 140px;
    height: 50px;
    font-size: 25px;
    color: rgb(40, 150, 255);
    box-shadow: 2px 2px 2px 2px #d86c23;
    border: 2px solid #d86c23;
    cursor: pointer;
    font-family: cursive;
    border-radius: 5px;
}


.cell {
    font-size: 135px;
    width: 150px;
    height: 150px;
}

@-webkit-keyframes my {
    0% { color: #F8CD0A; } 
    50% { color: #fff;  } 
    100% { color: #F8CD0A;  } 
}
@-moz-keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
}
@-o-keyframes my { 
    0% { color: #F8CD0A; } 
    50% { color: #fff; } 
    100% { color: #F8CD0A;  } 
}
@keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
} 
.playerX {
    color: #2C8DFF;
    background:#3d3d3d;
         font-size:24px;
         font-weight:bold;
	 -webkit-animation: my 700ms infinite;
	 -moz-animation: my 700ms infinite; 
	 -o-animation: my 700ms infinite; 
	 animation: my 700ms infinite;
}

.playerO {
    color: #FF4F4F;
    background:#3d3d3d;
         font-size:24px;
         font-weight:bold;
	 -webkit-animation: my 700ms infinite;
	 -moz-animation: my 700ms infinite; 
	 -o-animation: my 700ms infinite; 
	 animation: my 700ms infinite;
}

.hide {
    display: none;
}

.display {
    font-size: 30px;
    background-color: aliceblue;
}
