*{
    margin: auto;
    padding: auto;
    text-align: center;
}

h1{
    color: red;
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2rem;
    text-shadow: 3px 3px 4px gray;
}
#container {
    position: absolute;
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    font-family: Helvetica;
    font-weight: 750;
}

#score {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    width: 200px;
    height: 100px;
    background-color: #fcf0f0;
    margin: 1rem;
    border-radius: 50px;
}
#score > span{
    font-size: 60px;
    margin-top: 20px;
}
#score_X {
    color: #2C8DFF;
}
#score_O {
    color: #FF4F4F;
}

#turns{
    display: grid;
    grid-template-columns: auto;
    width: 150px;
    height: 300px;
    gap: 30px;
    margin: 100px 60px 20px 0px;
}
#rectangle {
    background-color: white;
}
#rectangle > button {
    margin: 30px;
    border-radius: 50%;
    border-width: 10px;
    font-size: 65px;
    width: 90px;
    height: 90px;
}
#turnsX {
    color: #2C8DFF;
    border-color: #2C8DFF;
}
#turnsO {
    color:#FF4F4F;
    border-color: #FF4F4F;
}

#version2 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: black;
    width: 470px;
    height: 470px;
    /* padding: 15px; */
    margin: auto;
}
#version2 > div {
    background-color:rgb(220, 241, 255);
    border: 0;
    cursor: pointer;
}

#reset{
    border-radius: 5px;
    font-size: 20px;
    border: 2px red;
    margin: 20px 0px 0px 80px;
    cursor: pointer;
    color: lightcyan;
    background-color:rgb(200, 15, 15);
    height: 40px;
    width: 90px;
    font-family: cursive;
}

.cell {
    font-size: 120px;
    width: 150px;
    height: 150px;
}

.playerX {
    color: dodgerblue;
}

.playerO {
    color: #FF4F4F;
}

.hide {
    display: none;
}

.display {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

