*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color: red;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1rem;
    text-shadow: 2px 2px 3px gray;
}

#all {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
}

#container {
    display: flex;
    font-family: Helvetica;
    font-weight: 750;
    justify-content: center;
}

#score {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    width: 200px;
    height: 100px;
    background-color: #FFFFFF;
    margin: 30px;
    border-radius: 50px;
}
#score > span{
    font-size: 60px;
    margin-top: 20px;
}
#score_X {
    color: #2C8DFF;
}
#score_O {
    color: #FF4F4F;
}

#goals{
    display: grid;
    grid-template-columns: auto;
    width: 150px;
    height: 370px;
    gap: 70px;
    margin-top: 180px;
}

#goals > div {
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
}

text{
    font-size: 80px;
}

svg {
    margin: 24px;
}

#board {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #FFE79E;
    width: 470px;
    height: 470px;
    padding: 15px;
    margin: 80px 0px 0px 110px;
}
#board > div {
    background-color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

#controls{
    display: grid;
    margin: 30px 100px 0px 180px;
    row-gap: 30px;
    height: 130px;
    width: 100px;
}

button{
    background-color: #f7e4ac;
    width: 150px;
    height: 50px;
    font-size: 25px;
    color: #5586e2;
    box-shadow: 2px 2px 2px 2px #d86c23;
    border: 2px solid #d86c23;
    cursor: pointer;
    border-radius: 5px;
}


.cell {
    font-size: 135px;
    width: 150px;
    height: 150px;
}

.playerX {
    color: #2C8DFF;
}

.playerO {
    color: #FF4F4F;
}

.hide {
    display: none;
}

.display {
    font-size: 30px;
    background-color: aliceblue;
}

img{
    margin-top: 100px;
}
